.body {
  color: #f5f5f7;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.left,
.right {
  position: relative;
  flex: 1;
  overflow-y: auto;
}

.middle {
  flex: 3;
  border-right: 3px solid gray;
  overflow-y: auto;
  position: relative;
}

@media (max-width: 991px) {
  .right {
    display: none;
  }
  .left {
    flex: 1;
  }
  .middle {
    flex: 3 1 100%;
  }
}

@media (max-width: 578px) {
  .left,
  .right {
    display: none;
  }

  .middle {
    flex: 1 1 100%;
  }
}

.mynav {
  /* position: fixed !important; */
  height: 36px;
  /* width:100%; */
  background-color: #2a3740;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.mybg-dark {
  --bs-bg-opacity: 1;
  background-color: #2a3740 !important;
}

.misccard {
  margin: 20px 15px;
}

.mynav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  margin: 0 15px;
  font-size: small;
}

.mynav-link:hover {
  color: #ffffff; /* white on hover */
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.myactive {
  color: #ffffff !important;
  font-weight: bolder !important;
  font-size: medium;
}

.tHheader {
  background-color: #2a3740;
  font-family: 'BBC Reith Sans', BBCReithSans-fallback, sans-serif;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  letter-spacing: 0.75px;
  padding: 0.5rem;
}

.topHeadlines {
  border-right: 3px solid gray;
  border-left: 1px solid gray;
}

.newsContainer {
  margin-top: 72px;
  background-color: rgb(50, 50, 50);
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.imgDiv {
  overflow: hidden;
}

.imgSize {
  width: 100%;
  height: 100%;
  max-height: 224px;
  object-fit: fill;
}

.inline {
  display: inline;
}

.mybtn {
  margin: 20px;

  float: right;
}

.artHeading {
  margin: 20px;
}

.artP {
  margin: 30px;
  line-height: 35px;
}
.mycard {
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
.mycard:hover {
  border: 3px solid black;
  background-color: #f0f8ff;
  transition: 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.subtitle {
  margin-right: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.summarizeBtn {
  background-color: #2a3740 !important;
}
